{% extends 'base.html' %} 
{% load static %} 
{% block content %} 

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a><br />
            <div class="auth__header text-center">
                <a href=""><img src="{% static 'img/icon.svg' %}" alt="icon" /></a>
                <h3>Update Account Details</h3>
            </div>
            <form action="{% url 'edit-account' %} " method="POST" class="form auth__form" enctype="multipart/form-data">
                {% csrf_token %} 
                {% for field in form %}
                    {{ field.label_tag }} 
                    {{ field }}
                    <br><br>
                {% endfor %}

                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="Update" />
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock content %}
