{% extends 'base.html' %} 

{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
            <div class="auth__header text-center">
                <h3>Add New Project </h3>  
            </div>
            <form method="post" enctype="multipart/form-data"> {% csrf_token %} 
                {{ form.media }}
                {% for field in form %}
                
                    <div class="form__field">
                        <label for="formInput#text">{{ field.label }} </label>
                        {{field}}
                    </div>
                    
                {% endfor %}
    
                <div class="form__field">
                    <label for="newtags">Tags</label>
                    <textarea type="text" class="taginput" name='newtags' placeholder="Add more tags here.. "></textarea>
                </div>
                <input class="btn btn--sub btn--lg my-md" type="submit" value="submit" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}
